#ifndef CONSTANTS_H
#define CONSTANTS_H

// replace the following:
#define GOPRO_SSID "__YOUR__CAMERA__NAME__"
#define GOPRO_PASS "__YOUR__CAMERA__PASS__"
#define CAMERA HEROX // your HERO model
uint8_t gopro_mac_address[6]= {1,2,3,4,5,6}; // the MAC address of your GoPro

// same for the second camera:
#define GOPRO_2_SSID "__YOUR__CAMERA__NAME__"
#define GOPRO_2_PASS "__YOUR__CAMERA__PASS__"
#define CAMERA_2 HEROX // your HERO model
uint8_t gopro_2_mac_address[6]= {1,2,3,4,5,6}; // the MAC address of your GoPro

#endif
